# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Web / Windows / Linux
web/.dart_tool/
windows/Flutter/ephemeral/
linux/flutter/

# IDE / System
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log

# Secrets
*.env
*.keystore
*.jks
config.json
